$primaryColor: #323232;
$accentColor: #ff3232;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: "Segoe UI";
  color: $primaryColor;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  nav {
    color: $primaryColor;
    padding: 3%;
    border-bottom: 1px solid $primaryColor;
    font-weight: 500;
    a {
      padding: 5% 5%;
      // font-size: 3.5vh;
      font-size: 5vw;
      color: $primaryColor;
      cursor: pointer;
      &:focus {
        color: $primaryColor;
      }
      &:visited {
        color: $primaryColor;
      }
    }
  }

  button {
    background: none;
    border: none;
    padding: 2% 3%;
    // font-size: 3.5vh;
    font-size: 5vw;
    cursor: pointer;
  }
  #C {
    color: $accentColor;
  }

  #home {
    display: block;
    nav a {
      color: $accentColor;
    }
  }

  #about {
    display: none;
    nav a {
      color: $accentColor;
    }
    h1 {
      // font-size: 5vh;
      font-size: 7vw;
    }
    p {
      // font-size: 3.5vh;
      font-size: 5vw;
      text-align: justify;
      margin: 5%;
    }
    .gitImg {
      max-width:30%;
      // height: 50vw;
      height: auto;
    }
  }

  .input_container {
    padding: 5%;
    input {
      // font-size: 2.1vh;
      font-size: 4vw;
      margin: 0 1.5vw;
      // height: 6vh;
      height: 12vw;
      width: 52vw;
      border: 1px solid $primaryColor;
    }
    .search {
      margin: 0 1.5vw;
      background-image: url("assets/search.png");
      background-repeat: no-repeat;
      // height: 6vh;
      height: 12vw;
      width: auto;
      vertical-align: bottom;
      border: 1px solid $primaryColor;
      cursor: pointer;
    }
  }

  .display {
    .name {
      // font-size: 7vh;
      font-size: 12vw;
    }
    .desc {
      // font-size: 4vh;
      font-size: 7vw;
    }
    .temp {
      // font-size: 7vh;
      font-size: 12vw;
      color: $accentColor;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $primaryColor;
    p {
      padding: 5%;
      // font-size: 3vh;
      font-size: 4.5vw;
    }
  }

  .slide-in-left {
    animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .slide-in-right {
    animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(300px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

#rotate {
  display: none;
}
@media (orientation: landscape) {
  #rotate {
    display: block;
    font-size: 6vh;
    margin-top: 45.6vh;
    margin-bottom: 45.6vh;
  }
  nav,
  footer,
  #home,
  #about,
  div {
    display: none;
  }
}
