* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: "Segoe UI";
  color: #323232;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  nav {
    color: #323232;
    padding: 3%;
    border-bottom: 1px solid #323232;
    font-weight: 500;
  }
  nav a {
    padding: 5% 5%;
    font-size: 5vw;
    color: #323232;
    cursor: pointer;
  }
  nav a:focus {
    color: #323232;
  }
  nav a:visited {
    color: #323232;
  }
  button {
    background: none;
    border: none;
    padding: 2% 3%;
    font-size: 5vw;
    cursor: pointer;
  }
  #C {
    color: #ff3232;
  }
  #home {
    display: block;
  }
  #home nav a {
    color: #ff3232;
  }
  #about {
    display: none;
  }
  #about nav a {
    color: #ff3232;
  }
  #about h1 {
    font-size: 7vw;
  }
  #about p {
    font-size: 5vw;
    text-align: justify;
    margin: 5%;
  }
  #about .gitImg {
    max-width: 30%;
    height: auto;
  }
  .input_container {
    padding: 5%;
  }
  .input_container input {
    font-size: 4vw;
    margin: 0 1.5vw;
    height: 12vw;
    width: 52vw;
    border: 1px solid #323232;
  }
  .input_container .search {
    margin: 0 1.5vw;
    background-image: url("assets/search.png");
    background-repeat: no-repeat;
    height: 12vw;
    width: auto;
    vertical-align: bottom;
    border: 1px solid #323232;
    cursor: pointer;
  }
  .display .name {
    font-size: 12vw;
  }
  .display .desc {
    font-size: 7vw;
  }
  .display .temp {
    font-size: 12vw;
    color: #ff3232;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #323232;
  }
  footer p {
    padding: 5%;
    font-size: 4.5vw;
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

#rotate {
  display: none;
}

@media (orientation: landscape) {
  #rotate {
    display: block;
    font-size: 6vh;
    margin-top: 45.6vh;
    margin-bottom: 45.6vh;
  }
  nav,
  footer,
  #home,
  #about,
  div {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */